
    body{
          background-image:url("../images/whitebg.jpg");
          background-position: center;
          height: 100;
          background-size: cover;
    }
    
#chen {
      width:600px; 
      height:400px;
      margin-left: 28%;
      
}