
     body {
        background-image: url('./../images/red.jpeg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
 button{
     width: 200px;
     background-color:wheat;
     padding: 10px 10px;
     border:transparent;
 }

input {
    width:200px;
    border-radius: 10px;
    padding : 10px 10px;
    margin-bottom:15px;
}
button {
    color:green;
    background-color:wheat;
    padding: 10px 10px;
    width:200px;
    border:none;
}
.login {
    padding: 10px 10px;
    text-decoration: powderblue;
    border-radius: 10px;
}
