
     body {
        background-image: url('./../images/rbus.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
input {
    width:200px;
    border-radius: 10px;
    padding : 10px 10px;
    margin-bottom:15px;
}
button {
    color:green;
    background-color:wheat;
    padding: 10px 10px;
    width:200px;
    border:none;
}
.login {
    padding: 10px 10px;
    text-decoration: powderblue;
    border-radius: 10px;
}
