body {
    background-image: url('./../images/listbg.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.buslist {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style:oblique;
}