
       body{
          background-image:url("../images/some.jpeg");
          background-position: center;
          height: 100;
          background-size: cover;
        }
   button
  {
     font-size: 40px;
     padding:10px;
     border-radius:10px;
     margin:20px;
  }
  #container
  {
       text-align: center;
  }      
  /* .menu{
   
  } */
